@font-face {
	font-family: 'montserrat-regular';
	src: url('../fonts/Montserrat-Regular.ttf')
}

@font-face {
	font-family: 'montserrat-bold';
	src: url('../fonts/Montserrat-Bold.ttf')

}
@font-face {
    font-family: 'montserrat-medium-italic';
    src: url('../fonts/Montserrat-MediumItalic.ttf')
}
@font-face {
    font-family: 'montserrat-semibold-italic';
    src: url('../fonts/Montserrat-SemiBoldItalic.ttf')
}



:root {
    --main-orange: #ff6a00;
    --blue-primary: #060054;

    --orange-secondary: #ff815b;
    --blue-secondary: #2a2850;

    --gray-level-1: #1A202C;
    --grey-level-2: #2D3748;
    --grey-level-3: #4A5568;
    --grey-level-4: #718096;
    --grey-level-5: #A0AEC0;
    --grey-level-6: #CBD5E0;
    --grey-level-7: #E2E8F0;
    --grey-level-8: #EDF2F7;
    --grey-level-9: #F7FAFC;

    --h1-size: 2em;
    --h2-size: 1.5em;
    --h3-size: 1.2em;
    --p-size: 1em;

    --radius-size: 6px;
}

*, *::before, *::after {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}  

html, body {
    scroll-behavior: smooth;
}

/* TITRES */
h1, h2, h3, h4, h5 {
    font-family: "yeseva-one", sans-serif;
    color: var(--gray-level-1);
    font-weight: normal;
}
h1 {
    font-size: var(--h1-size);
}
h2 {
    font-size: var(--h2-size);
}
h3 {
    font-size: var(--h3-size);
    font-family: "montserrat-regular", sans-serif;
}
/* TITRES */

/* PARAGRAPHE */
p, body>footer {
    font-family: "montserrat-regular", sans-serif;
    color: var(--gray-level-1);
    font-size: var(--p-size);
}
/* PARAGRAPHE */

/*.icon.burger-menu {
    background-image: url(icon/burger_menu.svg);
}*/

/* HEADER */

header {
    font-family: "montserrat-regular", sans-serif;

    margin: 1em 3em;
    text-align: end;
    position: relative;
    z-index: 3;
}

header>img {
    position: absolute;
    left: 0;
    top: -10px;
    width: 90px;
    height: 90px;
}

header a, header li {
    color: white;
    text-decoration: none;
    transition: color .3s, background-color .3s ease;
}
header a:hover {
    color: var(--grey-level-5);
}

header>nav {
    transition: all 1s ease;
}
header>nav>ul {
    list-style: none;
}
header>nav>ul>li {
    position: relative;
    display: inline-block;
    margin: 1em 0;
}
header>nav>ul>li.button_top_right {
    margin-left: 2em;
}
header>nav>ul>li:not(.button_top_right),
header>nav>ul>li.button_top_right>a {
    padding: .8em 1.5em;
}

header>nav>ul>li>a.active {
    color: var(--main-orange);
    font-family: "montserrat-bold", sans-serif;
}

header>nav>ul>li.button_top_right>a:hover {
    background-color: white;
    border: 1px solid var(--main-orange);
    color: var(--main-orange);
}
header>nav>ul>li.button_top_right>a {
    border: 1px solid var(--main-orange);
    background-color: var(--main-orange);
    border-radius: var(--radius-size);
    color: white;
}


/* PAGE PROJETS */

/* HERO HEADER */

.hero_header2 {
    background-image: url(images/travail.jpg);
    background-size: cover;
    background-position-y: 65%;

    border-radius: var(--radius-size);

    height: 40em;
    width: 100%;

    margin-top: -10em;
    position: relative;
}

.filter2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.grey_filter {
    background-color: black;
    opacity: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.filter2>h1 {
    color: white;
    font-size: 100px;

    z-index: 4;
    font-family: 'montserrat-semibold-italic', sans-serif;
}

#formation {
    padding: 50px;
    display: flex;
    background-color: var(--grey-level-2);
    height: 450px;
    position: relative;
}

#formation>#txt {
    width: 50%;
}

#formation>#txt>h1 {
    color: var(--main-orange);
    margin-bottom: 1em;
}

#formation>#txt>p {
    color: white;
    margin-bottom: 2em;
    line-height: 25px;
}

#formation>#avatar_form2 {
    position: relative;
    right: -50%;
    top: 15%;
    
}

#img_space {
    height: 350px;
    width: 350px;
    position: absolute;
    z-index: 1;
    top: -20%;
    margin-left: 14.5em;
}

#img_form2 {
    height: 300px;
    width: 300px;
    border-radius: 63% 37% 63% 37% / 36% 31% 69% 64% ;
    background-color: var(--main-orange);
    position: absolute;
    margin-left: 16em;
    transform: rotate(45deg);
}

#projets {
    background-color: var(--gray-level-1);
    height: 50em;
}

#projets h1 {
    color: var(--main-orange);
    padding: 1em;
}

#liste_projets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5em;
    width: 15em;
    margin: auto;
    justify-content: space-evenly;
}



.compétences {
    border: solid 3px var(--main-orange);
    margin: 0em 2em;
    height: 18em;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-size);
}

.compétences h2 {
    color: var(--gray-level-1);
    background-color: var(--main-orange);
    width: 15em;
    height: 1.5em;
    text-align: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-top: 0.1em;
}

.compétences a {
    position: relative;
    left: 33%;
    width: 7.5em;
    border: 1px solid var(--main-orange);
    background-color: var(--main-orange);
    border-radius: 10em;
    color: var(--gray-level-1);
    padding: 0em 1em;
    font-family: 'montserrat-regular', sans-serif;
    margin-top: 1em ;
    text-decoration: none;
}
.compétences a:hover {
    position: relative;
    left: 33%;
    width: 7.5em;
    border: 1px solid var(--main-orange);
    background-color: white;
    border-radius: 10em;
    color: var(--main-orange);
    padding: 0em 1em;
    font-family: 'montserrat-regular', sans-serif;
    margin-top: 1em ;
    text-decoration: none;
}
.images_compétences {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.6em;
}
#compétence1 .img1{
    width: 45%;
    height: 87%;
    margin-top: 1em;
}
#compétence1 .img2{
    width: 45%;
    margin-top: 1em;
    margin-bottom: 0.4em;
}

.img1 {
    width: 45%;
    margin-top: 1em;
}

.img2 {
    width: 45%;
    margin-top: 1em;
}

.nav_compétences {
    background-color: var(--gray-level-1);
    margin: 0px;
    height: 7em;
    padding: 1em;
    position: fixed;
    width: 100%;
}

.nav_compétences img {
    
    left: 1em;
    top: 0%;
}

.compétence_bloc {
    top: 6em;
}

#tasks_puissance4 {
    margin: 2em;
    color: white;
}

#tasks_puissance4 li>p{
    color: white;
}


.page_de_compétence .compétence_bloc {
    display: flex;
    height: 580px !important;
}

.compétence_bloc figure img {
    height: 20em;
}

.compétence_bloc figure {
    margin-left: 15em;
    margin-top: 4em;
    color: white;
    font-family: "montserrat-regular", sans-serif;
    width: 25em;
}

.compétence_bloc2 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5em;
    background-color: var(--gray-level-1) !important;
    height: 580px !important;
    justify-content: space-between;
}
.compétence_bloc2 figure img {
    height: 20em;
}

.compétence_bloc2 figure {
    margin-top: 4em;
    color: white;
    font-family: "montserrat-regular", sans-serif;
    width: 25em;

}

.comp_dev {    
    position: absolute;
    z-index: 1;
    margin-left: 3em;
    margin-top: 1em;
}

.comp_dev h2 {
    color: var(--main-orange);
    margin-top: -2em;
    margin-bottom: 0.5em;
}

.comp_dev ul, p {
    color: white;
}

.comp_dev ul {
    margin-left: 2em;
}

.comp_dev2 {
    margin-top: -6em;
    margin-left: 47em;
    z-index: 1;
    position: absolute;
    
}

.comp_dev2 h2 {
    color: var(--main-orange);
    margin-top: -2em;
    margin-bottom: 0.5em;
}

.comp_dev2 ul, p {
    color: white;
}

.comp_dev2 ul {
    margin-left: 2em;
}

#bot {
    width: 140%;
    margin-left: -5em;
}

#tourcavalier {
    width: 140%;
}

#SK {
    margin-left: -10em;
}
 
#SK>a {
    color: white;
}

#Gantt {
    width: 165%;
}

#txt>p>a {
    color: white;
}

.imageDeProjet {
    width: 10em;
    height: 8em;
}


@media screen and (max-width:1280px) {
    #liste_projets {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 5em;
        width: 15em;
        margin: auto;
        justify-content: space-evenly;
    }
}


@media screen and (max-width:1075px) {
    .filter2>h1{
        font-size: 80px;
    }

    #img_form2 {
        height: 270px;
        width: 270px;
        border-radius: 63% 37% 63% 37% / 36% 31% 69% 64%;
        background-color: var(--main-orange);
    }

    #img_space {
        height: 375px;
        width: 375px;
        z-index: 1;
        position: absolute;
        right: 5em;
        bottom: -27em;
    }


    #projets>nav>ul>li>p {
        left: 4%;
    }
}

@media screen and (max-width:860px) {
    .filter2>h1{
        font-size: 70px;
    }

    

    #formation>#avatar_form2 {
        justify-content: inherit;
    }

    #formation>#avatar_form2>#img_form2 {
        margin-left: 5em;
    }

    

    #img_space {
        height: 360px;
        width: 360px;
        z-index: 1;
        position: absolute;
        right: 3em;
        bottom: -27em;
    }
}

@media screen and (max-width:800px) {
    #avatar_form2 {
        display: none !important;
    }

    #formation>#txt {
        width: 100%;
    }

    header>nav>ul>li {
        font-size: 13px;
    }

    
}

@media screen and (max-width:760px) {
    #projets>nav>ul>li>p {
        left: 6% !important;
    }
}

.filter2>h1 {
    font-size: 60px;
}

@media screen and (max-width:700px) {
    .hero_header2 {
        height: 30em;
    }

    #formation>#txt>h1 {
        font-size: 1.6em;
    }

    #formation>#txt>p {
        font-size: 0.9em;
    }

    header>img {
        width: 75px;
        height: 75px;
    }

}

@media screen and (max-width:660px) {
    .filter2>h1 {
        font-size: 45px;
        margin-top: 2em;
    }

    .hero_header2 {
        height: 20em;
    }

    header>nav>ul>li {
        font-size: 11px;
    }

    #formation>#txt>h1 {
        font-size: 1.4em;
    }

    #formation>#txt>p {
        font-size: 0.8em;
    } 

    #projets>h1  {
        font-size: 1.4em;
    }

    #projets>nav>ul>li>p {
        font-size: 0.8em;
    }

    footer {
        font-size: 0.8em;
        height: 1em;
    }

    header>img {
        width: 65px;
        height: 65px;
    }
}

@media screen and (max-width:550px) {

    header>nav {
        margin-right: -30px;
    }

    header>img {
        margin-left: -30px;
    }

    .filter2>h1 {
        font-size: 35px;
    }

    #formation>#txt>h1 {
        font-size: 1.2em;
    }

    #formation {
        padding: 35px;
    }

    #projets {
        padding: 2em;
    }

    #projets>h1 {
        font-size: 1.2em;
    }

}

@media screen and (max-width:500px) {

    .hero_header2 {
        height: 14em;   
    }

    .filter2>h1 {
        font-size: 30px;
        margin-top: 4em;
    }

    header>nav>ul>li {
        font-size: 9px;
    }

    #projets {
        padding: 1em;
    }

    #formation {
        padding: 1em;
    }

    #formation>#txt>h1 {
        font-size: 1em;
    }

    #formation>#txt>p {
        font-size: 0.7em;
    }

    #projets>h1 {
        font-size: 1em;
    }

    #projets>nav>ul>li>p {
        font-size: 0.7em;

    }


    header>img {
        width: 50px;
        height: 50px;
    }

    header>nav>ul>li:not(.button_top_right), header>nav>ul>li.button_top_right>a {
        padding: 0.8em 1em;
    }

    #projets>nav>ul>li>p {
        left: 8% !important;
    }
    

    header>nav>ul>li.button_top_right {
        margin-left: 1em;
    } 
}